
body{
    background-color: black;
}
.home{
    width: 100%;
    height: 75vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.935);
}

.home , .Employees-form{
    background:linear-gradient(
        0deg,
        rgba(0, 0, 1, 0.573),
        rgba(0, 0, 1, 0.726)
    ),url("../src/img/kakashi-sensei.png");
    background-position: center center;
    background-size: cover;  
}
footer{
    background-color: black;
    text-align: end;
}
